<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="brand-icon" alt="travelers hub" src="assets/icons/main-icon.png"/>
            Travelers Hud
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="#">Alojamientos</a>
            <a class="nav-link" href="#">Vuelos</a>
            <a class="nav-link" href="#">Paquetes</a>
            <a class="nav-link" href="#">Nosotros</a>
        </div>
        </div>
    </div>
</nav>
