<div class="students-main-container">
    <div *ngFor="let student of students; let i = index" (click)="clicked = i" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 appFont size="20px" class="card-title">{{student.firstname + ' ' + student.lastname | name : clicked == i ? 'long' : 'short'}}</h5>
          <p class="card-text">{{student.grade}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Documento: <strong>{{student.document}}</strong></li>
          <li class="list-group-item">Fecha de admision: <strong>{{student.admissionDate}}</strong></li>
          <li class="list-group-item">Nota Final: <span class="student-note" [ngStyle]="{'color': student.note >= 7 ? 'green' : 'red'}">{{student.note}}</span></li>
          <li class="list-group-item">Deuda: <strong>{{student.debt | currency: 'USD'}}</strong></li>
        </ul>
    </div>
    <table mat-table [dataSource]="students">
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let stuedent"> {{student.firstname} </td>
      </ng-container>
    </table>
</div>
