.home-main-container
{
    width: 100%;
    height: auto;
    padding: 86px 0 0 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    .add-button
    {
        height: 40px;
        width: 180px;
        position: absolute;
        top: 120px;
        left: 15%;
        background-color: rgb(185, 13, 243);
        color: white;
        border: none;
        border-radius: 20px;
        transition: 400ms ease-in-out all;
        &:hover
        {
            border: 2px solid rgb(185, 13, 243);
            color: rgb(185, 13, 243);
            background-color: white;
        }
        &.return
        {
            border: none;
            text-decoration: underline;
            background-color: white;
            color: rgb(185, 13, 243);
            &:hover
            {
                color: rgb(148, 8, 195);
            }
        }
    }
    .card
    {
        height: 300px;
        margin: 10px 14px;
        .card-body
        {
            .card-title
            {
                font-weight: 700;
                color: rgb(185, 13, 243);
            }
            .card-text
            {
                color: gray
            }
        }
        .student-note
        {
            font-weight: 700;
        }
    }
}