.form-container
{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 86px 0 0 12%;
    form
    {
        width: auto;
        height: auto;
        padding: 20px;
        border: 2px solid rgb(185, 13, 243);
        border-radius: 10px;
        margin: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        input, select
        {
            width: 400px;
            height: 30px;
            margin: 0 0 20px 0;
        }
        .submit-button
        {
            width: 60%;
            height: 50px;
            border: solid 2px rgb(185, 13, 243);
            background-color: white;
            color: rgb(185, 13, 243);
            transition: 200ms all ease-in-out;
            border-radius: 10px;
            margin: 0 auto;
            &:hover
            {
                background-color: rgb(185, 13, 243);
                color: white;
                span
                {
                    color: white;
                }
            }
            span
            {
                color: rgb(185, 13, 243);
                margin: 0;
            }
        }
        span
        {
            color: red;
            margin: -20px 0 20px 0;
        }
    }
}