<div class="main-sidebar-container">
    <hr class="separator"/>
    <div class="img-container">
        <img src="assets/images/mock-profile-picture.jpeg"/>
    </div>
    <ul>
        <li>
            <a [routerLink]="['/students']">
                Estudiantes
            </a>
        </li>
        <li>
            <a [routerLink]="['/teachers']">
                Profesores
            </a>
        </li>
        <li>
            <a [routerLink]="['/courses']">
                Cursos
            </a>
        </li>
    </ul>
</div>
