<div class="main-sidebar-container">
    <hr class="separator"/>
    <div class="img-container">
        <img src="assets/images/mock-profile-picture.jpeg"/>
    </div>
    <ul>
        <li>
            <a href="#">
                Mi Perfil
            </a>
        </li>
        <li>
            <a href="#">
                Mis Reservas
            </a>
        </li>
        <li>
            <a href="#">
                Mis Viajes
            </a>
        </li>
    </ul>
    <div class="logout-container">
        <img alt="cerrar sesion" src="assets/icons/logout-icon.png"/>
        Cerrar sesion
    </div>
</div>
