<div class="form-container">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        *Nombre: <input type="text" formControlName="nombre"/>
        <span *ngIf="errors.nombre">Ingresar el nombre es obligatorio</span>
        *Apellido: <input type="text" formControlName="apellido"/>
        <span *ngIf="errors.apellido">Ingresar el apellido es obligatorio</span>
        Género: <select formControlName="genero">
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select>
        *DNI: <input type="text" formControlName="dni"/>
        <span *ngIf="errors.dni">El DNI debe tener 7 o mas dígitos</span>
        *Email: <input type="email" formControlName="email"/>
        <span *ngIf="errors.email">El email es inválido</span>
        *Fecha de Nacimiento: <input type="date" formControlName="fecha_de_nacimiento"/>
        <span *ngIf="errors.fecha_de_nacimiento">La fecha es inválida</span>
        *Carrera: <input type="text" formControlName="carrera"/>
        <span *ngIf="errors.carrera">Ingresar la carrera es obligatorio</span>
        Cátedra: <input type="text" formControlName="catedra"/>
        <button *ngIf="!loading" class="submit-button" type="submit">Enviar</button>
        <button *ngIf="loading" class="submit-button" type="submit"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
    </form>
</div>
